mixin card1(image, discount, grid)
  .project-preview-card(class=grid)
    .project-preview-card__container
      a(href="portfolio-project.html").project-preview-card__image 
        span.project-preview-card__index 20464111
        if image==true
          .card-labels
            span.card-label.card-label_style-sale Sale
            span.card-label.card-label_style-new New
            span.card-label.card-label_style-hit Hit
            span.card-label.card-label_style-stock Скидка
          .image.image_cover
            img(data-src="img/image 28.jpg", alt="image").lazyload
          span.project-preview-card__status Премиум
        else 
          .card-labels
            span.card-label.card-label_style-3 Hit
          .image.image_contain
            img(data-src="img/icons/project-placeholder.svg", alt="placeholder").lazyload
          span.project-preview-card__status Эконом
      .project-preview-card__content
        .project-preview-card__content-top
          img(src="img/icons/rating_3.5.svg", alt="image").project-preview-card__rating
          if image==true
            a(href="portfolio-project.html").project-preview-card__title Модель дома кд25 180 м2 с террасой 
          else 
            a(href="portfolio-project.html").project-preview-card__title Модель дома кд25 180 м2 с террасой три спальни гардероб и санузел
        .project-preview-card__content-bottom
          .project-preview-card__buttons  
            a(href="#").button.button_style-1 Узнать цену
            a(href="javascript:void(0);").button.button_style-1.button_icon
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#comparison")
          .card-price
            span.card-price__label.card-price__label_style-1 Реализован 12 раз
            .card-price__content
              span.card-price__current
                | 89 537,50 
                span  ₽/шт 
              if image==true
                span.card-price__old 99 999,99

mixin card2(title, image, grid)
  .category-card(class=grid)
    a(href="service.html").category-card__container
      if image==false
        .image.image_contain
          img(data-src='img/icons/services.svg', alt="image").lazyload
      else
        .image.image_cover
          img(data-src=image, alt="image").lazyload
      h3.category-card__title=title
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin card3(image, classes)     
  .model-block(class=classes)
    a(href="portfolio-project.html").model-block__container.image.image_cover
      img(data-src=image, alt="image").lazyload
      .model-block__content
        span.card-label.card-label_style-3.model-block__label Дома из СИП панелей
        h6.model-block__title Модель дома кд25 180 м2 с террасой три спальни гардероб и санузел
        span.model-block__button Подробнее 
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin card4(image, classes, label, title)
  //шаб карточки старт  
  .product-card(class=classes)
    .product-card__container(data-custom-interaction)
      a(href="tovar.html").product-card__link-area
      if image==true
        .product-card__image.image.image.image_contain
          .card-labels
            span.card-label.card-label_style-hit Hit
            span.card-label.card-label_style-stock Скидка
          img(data-src="img/soppka.png", alt="image").lazyload
          span.product-card__status Премиум
      else 
        .product-card__image.image.image.image_contain.image_no-image
          .card-labels
            span.card-label.card-label_style-sale Sale
            span.card-label.card-label_style-new New
            
          img(data-src="img/icons/product-placeholder.svg", alt="placeholder").lazyload
          span.product-card__status Эконом
      .product-card__content
        .product-card__content-top
          .product-card__index 20464111
          img(src="img/icons/rating_3.5.svg", alt="image").product-card__rating
          .product-card__title=title

        .product-card__content-bottom
          .card-price.product-card__card-price
            if label==1 
              span.card-price__label.card-price__label_style-1 Товар едет
            else if label==2
              span.card-price__label.card-price__label_style-2 Много
            else if label==3
              span.card-price__label.card-price__label_style-3 Мало
            else
              span.card-price__label.card-price__label_style-4 Кол-во ограничено


            if label==1
              .card-price__content.card-price__no-price
            else
              .card-price__content
                span.card-price__title Цена, шт: 
                span.card-price__current
                  | 89 537,50 
                  span ₽/шт
                  span.card-price__smaller-price-unit ₽
                if image==true
                  span.card-price__old 99 999,99
          .product-card__buttons  
            if label==1
              a(href="").button.button_style-1.product-card__get-price.product-card__bottom-item Узнать цену
              if image==true
                a(href="#").button.button_style-1.button_icon.product-card__bottom-item
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#comparison")

            else
              .calc-count-block.calc-count-block_style-2.product-card__bottom-item
                a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-minus 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#minus")
                .input.calc-count-block__input
                  input(type="number" name='ddd' value='1').input__element
                a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-plus 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#plus")
              a(href="#").button.button_style-2.button_icon.product-card__bottom-item.product-card__add-to-cart
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#cart")
              if label!==5
                a(href="#").button.button_style-1.button_icon.product-card__bottom-item
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#comparison")
  //шаб карточки старт
  
mixin card5(title, classes)
  .small-wiki-card(class=classes)
    a(href="text.html").small-wiki-card__container
      span.small-wiki-card__label Статья
      .small-wiki-card__image.image.image_cover
        img(data-src="img/image 6.jpg", alt="image").lazyload
        span.small-wiki-card__date АПРЕЛЬ, 2019
      .small-wiki-card__content
        .small-wiki-card__title=title

mixin card6(title, classes, type)
  .services-item-block(class=classes)
    a(href="service.html").services-item-block__container
      if type == 2
        .services-item-block__image.image.image_cover
          img(data-src="./img/image 35.jpg", alt="image").lazyload
      h3.services-item-block__title=title
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin news-card(type, classes) 
  .news-preview-block(class=classes)
    a(href="text.html").news-preview-block__container.image.image_cover
      if type==1
        img(data-src="img/Rectangle 197.jpg", alt="image").lazyload
      else
        img(data-src="img/no_img_news.jpg", alt="image").lazyload
      .news-preview-block__content
        if type==1
          span.news-preview-block__label.news-preview-block__label_style-1 Акция
          span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        else
          span.news-preview-block__label.news-preview-block__label_style-2 Новость
          span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс

mixin news-card-large(type, classes)
  .news-large-block(class=classes)
    .news-large-block__container
      a(href="text.html").image.image_cover.news-large-block__image
        if type==1
          img(data-src="img/Rectangle 197.jpg", alt="image").lazyload
        else
          img(data-src="img/no_img_news.jpg", alt="image").lazyload
      .news-large-block__content
        if type==1
          span.news-large-block__label.news-large-block__label_style-1 Акция
          h2.news-large-block__title С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        else
          span.news-large-block__label.news-large-block__label_style-2 Новость
          h2.news-large-block__title С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс
        a(href="text.html").button.button_xl.button_style-1.news-large-block__button Подробнее

mixin wiki-large(title, classes)
  .large-wiki-card(class=classes)
    .large-wiki-card__container
      a(href="text.html").large-wiki-card__link
      span.large-wiki-card__label Статья
      a(href="text.html").large-wiki-card__image.image.image_cover
        img(data-src="img/Rectangle 197.jpg", alt="image").lazyload
      .large-wiki-card__content
        span.large-wiki-card__date АПРЕЛЬ, 2019
        h3.large-wiki-card__title=title
        a(href="text.html").button.button_xl.button_style-1.large-wiki-card__button Подробнее

mixin progress-block(title, progress, image, classes)
  .project-progress-block(class=classes)
    .project-progress-block__container
      if image==true
        a(href="portfolio-project.html").image.image_cover.project-progress-block__image
          img(data-src="img/image 28.jpg", alt="image").lazyload
      else
        a(href="portfolio-project.html").image.image_contain.project-progress-block__image
          img(data-src="img/icons/project-placeholder.svg", alt="placeholder").lazyload
      .project-progress-block__content
        .project-progress-block__text
          h5.project-progress-block__title=title
          .project-progress-block__adress
            svg.icon
              use(xlink:href="img/icons/icons-sprite.svg#location")
            span г. Москва, ул.Ленина 54
        .project-progress-block__progress
          .project-progress-block__progress-text
            span Готовность
            strong #{progress} %
          .project-progress-block__progress-line
            span(style='width:'+progress+'%;')

mixin card7(type, classes)
  .preview-block(class=classes)
    a(href="#").preview-block__container 
      .preview-block__image.image.image_cover
        img(data-src="img/image 28.jpg", alt="image").lazyload
      .preview-block__content(style='background-color:#16151A;')
        if type=='1'
          span.preview-block__label(style='background-color:#FFCC00;') Строитель
        else if type=='2'
          span.preview-block__label(style='background-color:#7FD1EB;') Производитель
        else if type=='3'
          span.preview-block__label(style='background-color:#C3E27F;') Дистрибьютор
        h6.preview-block__title DISTORIUM.RU - первый умный дистрибьютер на платформе стройкер

mixin wide-card(grid)
  .wide-project-card(class=grid)
    .wide-project-card__container
      a(href="portfolio-project.html").wide-project-card__image
        .image.image_cover
          img(data-src="img/image 28.jpg", alt="image").lazyload
      .wide-project-card__content
        span.wide-project-card__index 20464111
        .wide-project-card__text
          h4.wide-project-card__title Услуга как услуга
          p.wide-project-card__description Уникальаня услуга по цене среднерыночной, большой опыт в реализации таких услуг 
        .wide-project-card__bottom 
          .card-price.wide-project-card__price
            .card-price__content
              span.card-price__current
                | 89 537,50 
                span  ₽/шт 
              span.card-price__old 99 999,99
          
          .calc-count-block.calc-count-block_style-2.wide-project-card__calc
            a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-minus 
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#minus")
            .input.calc-count-block__input
              input(type="number" name='ddd' value='1').input__element
            a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-plus 
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#plus")

          button.button.button_style-1.wide-project-card__button Заказать услугу


mixin image-card(type, index)
  .image-card-item 
    a(href="./img/56dcc810efa71925168c0d36d5c3fbf7.png" data-fancybox=index).image.image_cover 
      img(data-src="./img/56dcc810efa71925168c0d36d5c3fbf7.png", alt="image").lazyload
    if type == 1
      .image-card-item__title Lorem ipsum dolor sit amet consectetur adipisicing elit
    else if type == 2
      .image-card-item__title Lorem ipsum dolor sit amet

mixin banner-item-element(type)
  a(href="#" style="background-color:#F5F5F5;").banner-item-element
    if type == 1
      .banner-item-element__text-content
        h3 Lorem, ipsum dolor
        p Ipsum dolor sit amet consectetur adipisicing elit.
        p Ipsum dolor sit amet consectetur adipisicing elit.
    else if type == 2
      .banner-item-element__image.image.image_cover 
        img(data-src="./img/image 35.jpg", alt="image").lazyload

