mixin product-card-v2(params = {})
  .product-card-v2(class=`${params.type=='2'?'product-card-v2_type-2':'product-card-v2_type-1'}` data-custom-interaction) 
    a(href="#").product-card-v2__link

    .product-card-v2__image 
      if params.style=='2'
        .image.image_contain
          img(data-src="img/soppka.png", alt="image").lazyload
          img(data-src="img/test.jpg", alt="image").lazyload
      else 
        .image.image_contain.image_no-image
          img(data-src="img/icons/product-placeholder.svg", alt="image").lazyload
      
      .product-card-v2__rating
        img(src="img/icons/rating_3.5.svg", alt="image").product-card-v2__rating-stars

      if params.style!=='3'
        .product-card-v2__labels
          if params.style=='2'
            .card-label.card-label_style-stock.product-card-v2__label Уценка
            .card-label.card-label_style-new.product-card-v2__label Новинка
          else 
            .card-label.card-label_style-sale.product-card-v2__label Распродажа
            .card-label.card-label_style-hit.product-card-v2__label Хит 

    .product-card-v2__content 
      .product-card-v2__title 
        if params.style=='2'
          | Фанера влагостойкая 12x2500х1250 мм (длинное название товара, которое не влезает)
        else if params.style=='3'
          | Фанера влагостойкая
        else 
          | Фанера влагостойкая 12x2500х1250 mm
      
      .product-card-v2__content-bottom
        if params.style=='2'
          .product-card-v2__pricing
            .product-card-v2__pricing-txt Последний раз товар был продан по этой цене:
            .product-card-v2__price.text-color-light 89537,50 <span>₽/шт.</span>
        else if params.style=='3'
          
        else 
          .product-card-v2__pricing
            .product-card-v2__old-price 99 999,99
            .product-card-v2__price.text-color-accent 92986,50 <span>₽/шт.</span>
            .product-card-v2__pricing-txt Цена со скиндкой через корзину:
            .product-card-v2__price 89537,50 <span>₽/шт.</span>

        .product-card-v2__buttons
          if params.style=='2'

            button.button.button_disabled.button_xl.product-card-v2__cart-button
              span  
                span Товар ожидается 
                span узнать о наличии

          else if params.style=='3'

            button.button.button_style-1.button_xl.product-card-v2__button 
              span Узнать стоимость

          else 

            button.button.button_style-2.button_xl.product-card-v2__cart-button 
              svg.icon
                use(xlink:href="./img/icons/icons-sprite.svg#cart")
              span  
                span Много товара
                span В корзину

mixin content-placeholder()
  .content-placeholder
    span Просто заглушка

mixin content-standard-box(params = {})
  -var imageSrc = params.imageSrc?params.imageSrc:'./img/e79cec4f0a120d2e96a1701cf4ef8db3.png'
  .content-standard-box
    .content-standard-box__container
      if params.image
        if params.gallery
          a(href=imageSrc data-fancybox).content-image.image-zoom
            .image
              img(src=imageSrc, alt="image")
        else 
          .content-image.image-zoom
            .image
              img(src=imageSrc, alt="image")
      if params.text
        .content-standard-box__text-content
          h4 Lorem ipsum dolor
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eveniet quae ducimus voluptatibus? Fuga labore corrupti cupiditate.

mixin content-background-box(params = {})
  -var imageSrc = params.imageSrc?params.imageSrc:'./img/e79cec4f0a120d2e96a1701cf4ef8db3.png'
  //если нужно, родительский .content-background-box может быть ссылкой
  .content-background-box.image-zoom
    .content-background-box__container
      if params.background
        .content-background-box__background(style="background-color:#F5F5F5;")

      if params.image 
        .content-background-box__background-image 
          .image.image_cover
            img(src=imageSrc, alt="image")

      if params.text
        .content-background-box__text-content
          h4 Lorem ipsum dolor
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eveniet quae ducimus voluptatibus? Fuga labore corrupti cupiditate.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum eveniet quae ducimus voluptatibus? Fuga labore corrupti cupiditate.

